html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 99.6%;
    padding: .5rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    margin: 0;
  }

  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Contenido que ocupa el espacio disponible */
  .contenido {
    flex: 1;
  }

  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  a{
    color: white;
    text-decoration: none;
  }

  .nav-links{
    background-color: #4c1d95;
    padding: 1rem;
    border-radius: .2rem;
    width: 100%;
  }


.footer {
      background-color: #222;
      color: #eee;
      padding: 1.5rem 1rem;
      text-align: center;
    }
    
    .footer-enlaces {
      margin-top: 0.5rem;
    }
    
    .footer-enlaces a {
      color: #aaa;
      margin: 0 10px;
      text-decoration: none;
      transition: color 0.3s;
    }
    
    .footer-enlaces a:hover {
      color: #fff;
    }
    
    .footer-iconos {
      margin-top: 1rem;
    }
    
    .footer-iconos a {
      color: #aaa;
      margin: 0 10px;
      font-size: 1.2rem;
      transition: color 0.3s;
    }
    
    .footer-iconos a:hover {
      color: #fff;
    }
/* Desde 636px en adelante */
  @media screen and (min-width: 636px) {
  
  
  }

/* Desde 368px a 636px*/
  @media screen and (min-width: 368px) {
  
  
  }

  .card-grid {
    display: grid;
    /* con esto queda responsivo en cualquier dispositivo sin MQ
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));*/
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }

  @media (min-width: 768px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas */
      gap: 1.5rem;
    }
  }
  @media (min-width: 1024px) {
    .card-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    }
  }
  /* Escritorios medianos (1440px) */
@media (min-width: 1440px) {
    .card-grid {
      grid-template-columns: repeat(4, 1fr); /* 4 columnas */
      gap: 2rem;
    }
  }
  /* Escritorios grandes (1920px+) */
@media (min-width: 1920px) {
    .card-grid {
      grid-template-columns: repeat(5, 1fr); /* 5 columnas */
    }
  }


  h1 {
    text-align: center;
    color: #1e293b;
  }